<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find hsrb_description)/urdf/sensors/hokuyo_laser.gazebo.xacro"/>

    <!-- range sensor -->
    <xacro:macro name="hokuyo_laser" params="prefix robot_namespace parent *origin">
        <joint name="${prefix}_range_sensor_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${prefix}_range_sensor_link" />
        </joint>

        <link name="${prefix}_range_sensor_link">
            <visual>
                <geometry>
                    <mesh filename="package://hsrb_description/meshes/sensors/laser.dae" />
                </geometry>
            </visual>

            <collision>
                <geometry>
                    <mesh filename="package://hsrb_description/meshes/sensors/laser.stl" />
                </geometry>
            </collision>
        </link>

        <xacro:hokuyo_laser_gazebo
            sensor_name="${prefix}_range_sensor"
            robot_namespace="${robot_namespace}"
            ros_topic="${prefix}_scan"
            frame_name="${prefix}_range_sensor_link"
            min_angle="-2.3562" max_angle="2.3562" />
    </xacro:macro>

</robot>
