<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hsrb">
    <xacro:include filename="$(find hsrb_description)/urdf/sensors/imu.gazebo.xacro"/>

    <!-- imu sensor -->
    <xacro:macro name="imu_sensor" params="prefix parent robot_namespace *origin">
        <joint name="${prefix}_imu_frame_joint" type="fixed">
            <insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${prefix}_imu_frame" />
        </joint>

        <link name="${prefix}_imu_frame"/>

        <xacro:imu_gazebo sensor_name="${prefix}_imu" robot_namespace="${robot_namespace}" frame_name="${prefix}_imu_frame"/>
    </xacro:macro>

</robot>
