<?xml version="1.0" ?>
<robot name="hsrb" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="imu_gazebo" params="sensor_name frame_name robot_namespace">
        <gazebo reference="${frame_name}">
            <sensor type="imu" name="${sensor_name}">
                <update_rate>10.0</update_rate>
                <imu>
                    <noise>
                        <type>gaussian</type>
                        <rate>
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                            <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </rate>
                        <accel>
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                            <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </accel>
                    </noise>
                </imu>
            </sensor>
        </gazebo>

        <gazebo>
	    <!-- IMU Plugin is a model plugin. Then it should be atached to HSR-B model. -->
	    <plugin name="${sensor_name}_plugin" filename="libhector_gazebo_ros_imu.so">
		<robotNamespace>${robot_namespace}</robotNamespace>
		<updateRate>50.0</updateRate>
		<bodyName>base_link</bodyName>
		<topicName>${sensor_name}/data</topicName>
		<serviceName>${sensor_name}/calibrate</serviceName>
		<accelDrift>0.000 0.000 0.000</accelDrift>
		<accelGaussianNoise>0.000 0.000 0.000</accelGaussianNoise>
		<rateDrift>0.000 0.000 0.000 </rateDrift>
		<rateGaussianNoise>0.000 0.000 0.000 </rateGaussianNoise>
		<headingDrift>0.000</headingDrift>
		<headingGaussianNoise>0.000</headingGaussianNoise>
	    </plugin>
        </gazebo>
    </xacro:macro>
</robot>
