<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="hsrb_wrist_transmission" params="robot_name">
        <hsrb_trans joint="${robot_name}/wrist_flex_joint" reduction="1"/>
        <hsrb_trans joint="${robot_name}/wrist_roll_joint" reduction="1"/>
    </xacro:macro>

</robot>
