<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="hsrb_head_transmission" params="robot_name">
        <hsrb_trans joint="${robot_name}/head_pan_joint" reduction="1"/>
        <hsrb_trans joint="${robot_name}/head_tilt_joint" reduction="1"/>
    </xacro:macro>

</robot>
