<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- range sensor -->
  <xacro:macro name="range_sensor" params="prefix parent *origin">
    <joint name="${prefix}_range_sensor_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}_range_sensor_link" />
    </joint>

    <link name="${prefix}_range_sensor_link">
      <visual>
        <geometry>
          <mesh filename="package://tmc_hsrb_description/meshes/beetle/visual/range_sensor.dae" />
        </geometry>
        <material name="black" />
      </visual>

      <collision>
        <geometry>
          <mesh filename="package://tmc_hsrb_description/meshes/beetle/collision/range_sensor.stl" />
        </geometry>
        <material name="black" />
      </collision>
    </link>
  </xacro:macro>


  <!-- head rgb camera -->
  <xacro:macro name="rgb_camera" params="prefix parent *origin">
    <joint name="${prefix}_camera_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}_camera_link" />
    </joint>

    <link name="${prefix}_camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="${-pi/2.0} 0.0 ${-pi/2.0}"/>
        <geometry>
          <mesh filename="package://tmc_hsrb_description/meshes/beetle/visual/head_camera.dae" />
        </geometry>
        <material name="black" />
      </visual>
    </link>
  </xacro:macro>


  <!-- wide rgb camera -->
  <xacro:macro name="wide_rgb_camera" params="prefix parent *origin">
    <joint name="${prefix}_camera_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}_camera_link" />
    </joint>

    <link name="${prefix}_camera_link">
    </link>
  </xacro:macro>


  <!-- xtion -->
  <xacro:macro name="xtion" params="prefix parent *origin">
    <joint name="${prefix}_xtion_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_xtion_link"/>
    </joint>

    <link name="${prefix}_xtion_link">
      <visual>
        <origin xyz="0 0 0" rpy="${-pi/2.0} 0.0 ${-pi/2.0}"/>
        <geometry>
          <mesh filename="package://tmc_hsrb_description/meshes/beetle/visual/xtion.dae" />
        </geometry>
        <material name="black" />
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${-pi/2.0} 0.0 ${-pi/2.0}"/>
        <geometry>
          <mesh filename="package://tmc_hsrb_description/meshes/beetle/collision/xtion.stl" />
        </geometry>
        <material name="black" />
      </collision>
    </link>

    <joint name="${prefix}_xtion_cloud_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2.0} 0.0 ${-pi/2.0}"/>
      <parent link="${prefix}_xtion_link"/>
      <child link="${prefix}_xtion_cloud_frame"/>
    </joint>
    <link name="${prefix}_xtion_cloud_frame">
    </link>

  </xacro:macro>


  <!-- imu sensor -->
  <xacro:macro name="imu_sensor" params="prefix parent *origin">
    <joint name="${prefix}_imu_sensor_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}_imu_sensor_link" />
    </joint>

    <link name="${prefix}_imu_sensor_link">
    </link>
  </xacro:macro>
</robot>
