<?xml version="1.0" ?>
<robot name="hsrb" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="mynteye_imu_gazebo" params="sensor_name frame_name topic_name robot_namespace">
        <gazebo reference="${frame_name}">
            <sensor type="imu" name="${sensor_name}">
                <update_rate>10.0</update_rate>
	        <plugin name="${sensor_name}_plugin" filename="libgazebo_ros_imu_sensor.so">
		    <updateRateHZ>100.0</updateRateHZ>
		    <bodyName>base_link</bodyName>
		    <topicName>${robot_namespace}/${sensor_name}/data</topicName>
		    <frameName>${frame_name}</frameName>
		    <gaussianNoise>0.0</gaussianNoise>
		    <xyzOffset>0.0 0.0 0.0</xyzOffset>
		    <rpyOffset>0.0 -0.0 0.0</rpyOffset>
		</plugin>
                <imu>
                    <noise>
                        <type>gaussian</type>
                        <rate>
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                            <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </rate>
                        <accel>
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                            <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </accel>
                    </noise>
                </imu>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>
