<?xml version="1.0" ?>
<robot name="hsrb" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find tmc_hsrb_description)/urdf/sensors/asus_xtion.gazebo.xacro"/>

    <!-- rgbd_sensor -->
    <xacro:macro name="asus_xtion" params="prefix parent robot_namespace sensor_name *origin">
        <joint name="${prefix}_${sensor_name}_joint" type="fixed">
            <insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${prefix}_${sensor_name}_link"/>
        </joint>

        <link name="${prefix}_${sensor_name}_link">
            <visual>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="package://tmc_hsrb_description/meshes/sensors/xtion.dae" />
                </geometry>
                <material name="black" />
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <mesh filename="package://tmc_hsrb_description/meshes/sensors/xtion.stl" />
                </geometry>
                <material name="black" />
            </collision>
        </link>

        <joint name="${prefix}_rgbd_sensor_pointcloud_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
            <parent link="${prefix}_rgbd_sensor_link"/>
            <child link="${prefix}_rgbd_sensor_pointcloud_frame"/>
        </joint>
        `
        <link name="${prefix}_${sensor_name}_pointcloud_frame"></link>

        <xacro:asus_xtion_gazebo
            robot_namespace="${robot_namespace}"
            sensor_name="${sensor_name}"
            parent_camera_link="${prefix}_${sensor_name}_link"
            parent_depth_link="${prefix}_${sensor_name}_pointcloud_frame"/>

    </xacro:macro>

</robot>
