<?xml version="1.0" ?>
<robot name="hsrb" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find tmc_hsrb_description)/urdf/sensors/depth_camera.gazebo.xacro"/>

    <!-- depth_camera -->
    <xacro:macro name="depth_camera1" params="prefix parent *origin">
        <joint name="${prefix}_depth_camera_joint" type="fixed">
            <insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${prefix}_depth_camera_link"/>
        </joint>

        <link name="${prefix}_depth_camera_link">
            <visual>
                <origin xyz="0 0 0" rpy="${-pi/2.0} 0.0 ${-pi/2.0}"/>
                <geometry>
                    <mesh filename="package://tmc_hsrb_description/meshes/sensors/xtion.dae" />
                </geometry>
                <material name="black" />
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="${-pi/2.0} 0.0 ${-pi/2.0}"/>
                <geometry>
                    <mesh filename="package://tmc_hsrb_description/meshes/sensors/xtion.stl" />
                </geometry>
                <material name="black" />
            </collision>
        </link>

        <joint name="${prefix}_depth_camera_pointcloud_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-pi/2.0} 0.0 ${-pi/2.0}"/>
            <parent link="${prefix}_depth_camera_link"/>
            <child link="${prefix}_depth_camera_pointcloud_frame"/>
        </joint>
        `
        <link name="${prefix}_depth_camera_pointcloud_frame"></link>

        <xacro:depth_camera_gazebo
            sensor_name="${robot_name}/head_depth_camera"
            parent_camera_link="${robot_name}/head_depth_camera_link" 
            parent_depth_link="${robot_name}/head_depth_camera_pointcloud_frame"/>

    </xacro:macro>

</robot>
