<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find tmc_hsrb_description)/urdf/sensors/rgb_camera.gazebo.xacro"/>

    <!-- wide rgb camera -->
    <xacro:macro name="rgb_camera" params="prefix parent *origin">
        <joint name="${prefix}_camera_joint" type="fixed">
            <insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${prefix}_camera_link" />
        </joint>

        <link name="${prefix}_camera_link"></link>

        <xacro:rgb_camera_gazebo sensor_name="${prefix}_camera" frame_name="${prefix}_camera_link"/>
    </xacro:macro>
</robot>
